@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-foreground: #000;
    --invert-foreground: #fff; 
    --main-accent-color: #f9b001;
    --light-accent-color: #fae1bd;
    --accent-hover-color: #df9b12;
    --cancel-button-color: #c4a37a;
    --cancel-hover-button-color: #b89568;
}

html {
    width: 100%;
    font-family: "Montserrat", sans-serif !important; 
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: var(--main-foreground);
}

a:hover {
    color: var(--main-accent-color);
}

img {
    width: 100%;
}

main, footer, header  {
    max-width: 1250px;
    width: 90%;
    margin: 0.05em auto;
    flex: 1; 
}

header {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 2em;
}

.logo-text {
    font-weight: 600;
    font-size: 1.2em;
    margin: 0;
}

.subheader-container, .footer-container {
    max-width: 1250px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link-container {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

footer {
    display: flex;
    justify-content: center;
    height: 4em;
    flex-direction: row;
}

footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    background-color: var(--main-accent-color);
    border-radius: 50%;
    text-decoration: none;
    margin-bottom: 1em;
}

footer a:hover {
    background-color: var(--accent-hover-color);
}

footer svg {
    width: 1.2em;
    height: 1.2em;
}

.footer-links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.hamburger-menu:hover, .hamburger-menu:active, .hamburger-menu:focus {
    background-color: transparent !important;
}

.hamburger-menu span {
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 2px;
}

.main-wave-button {
    background-color: var(--main-accent-color);
    padding: 0.8em;
    width: 10em;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    color: var(--main-foreground);
}

.main-wave-button:hover {
    background-color: var(--accent-hover-color);
    color: var(--invert-foreground);
    box-shadow: none;
    position: relative;
}

.main-wave-button.secondary {
    background-color: var(--cancel-button-color);
}

.main-wave-button.secondary:hover {
    background-color: var(--cancel-hover-button-color);
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagination button {
    color: var(--main-foreground);
    border: none;
    background-color: #fbf4d1;
    width: 3em;
}

.pagination a {
    display: inline-block;
    padding: 8px 12px;
    transition: background-color 0.2s, color 0.2s;
}

.pagination button:hover {
    background-color: var(--main-accent-color) !important;
    color: var(--invert-foreground);
}

.pagination button:focus {
    outline: none !important;
    box-shadow: none !important;
    color: var(--invert-foreground) !important;
    background-color: var(--main-accent-color) !important; 
    box-shadow: 0 0 5px var(--main-accent-color)  !important;
}

@media (max-width: 760px) {
    .link-container {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 4em;
        right: 0;
        background-color: white;
        width: 70%;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
        padding: 1em;
        border-top: 2px solid #F0A200;
    }

    .hamburger-menu {
        display: flex;
    }

    .link-container.active {
        display: flex;
    }

    .nav-element {
        font-size: 1.2em;
        margin-bottom: 1em;
    }
    
    .order-form-button {
        width: 100%;
    }

    .order-form-submit-button {
        margin-bottom: 0.5em;
    }
}